

/* Base Styles */
body {
    background-color: var(--Very-Light-Gray);
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;

  }
  a
  {color: inherit;
    text-decoration: none;
  }

 li
 {list-style: none;}
 ul{
    margin: 0px;
    padding: 0px;
 }
 main,footer{
    text-align: center;
 }
 /* Variables */
 :root{
/* Color primary */
--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);

/* primary */

--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray:hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
 }
 p{
    color: var(--Grayish-Blue);
    margin: 0px;
    font-weight: 400;
 }
 h1,h2,h3{
    color: var(--Dark-Blue);
    margin: 0px;
 }
 .bg-body-tertiary{
    background-color: white;
 }
 body{
    background-color: white;
    width: 100vw;
 }
 header .navbar{
    margin-inline: 0px;
 }
 
 .navbar .container{
   
    background-color: white;
    padding-block: 1rem;  
 }

 /* nav margin reset */
 @media (min-width: 745px){
    nav .container{
        max-width: ;
        margin-inline: 7%;
 }
.
}
@media (min-width: 576px){
    .container {
        max-width: ;

}

}

 .navbar{
    padding-block: 0px;
 }
 .head-image{
    width: 100%;
    
    

 }
 main .intro-image{
    width: 100%;
    margin-top: -135px;    
}
 nav .navbar-toggler{
    border: none;
 }
 .navbar-toggler-icon{
    width: 3rem;
    height: 1.8rem;
    
 }
 nav .container{
    position: relative;
 }
 .navbar-collapse{
    
    background-color:var(--White);
    position: absolute;
    top: 5rem;
    left: 5%;
    width: 90%;
    /* margin-inline: 1rem; */
    margin-left: 0px;
    align-self: center;
    text-align: center;
    padding-block: 2rem;
    border-radius: 10px;
    color: var(--dark-blue) !important;
    font-weight: 400;font-size: 1.3rem;
 }
 .nav-link.greeny{
    display: none;
 }
 main 



main h1{
    font-size: 40px;
    padding-block-start: 30px;
}
main p{
    padding-top: 20px;
}
main a{
    margin-top: 100px;
    border-radius: 20px;
    padding-inline: 45px;
    padding-block: 15px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: var(--Light-Grayish-Blue);
 
}
main .intro-btn{
   
margin-top: 40px;
}
.bio{
    padding-inline: 0px;
}
main .parent{
    margin-inline: 0px;
    max-width: unset;
}
main .container-fluid{
    background-color: var(--Very-Light-Gray);
    
}
.intro{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: top -80px right 0px;
    background-size: 100%;
    background-color: white;
    
}
 .artic-link{
    background-color: var(--Light-Grayish-Blue);
    padding-block: 100px 40px;

}
.artic-link p{
    line-height:1.5rem;
}
.artic-link h2{
    font-size: 40px;
    font-weight: 400;

}
.artic-link article{
    padding-block: 25px;
}
article h3{
    padding-top: 20px;
}
section article:last-child{
    font-size:px;
}
.outcast{
    font-size: 16px;
}
.biographs img{
    border-radius: 10px 10px 0px 0px;
    height: 220px;
    width: 100%;
    }
.biographs{
    
    padding-block-start: 20%;
    text-align: left;
    background-color: var(--Very-Light-Gray);

}
.biographs article{
    background-color: white;
    margin-block: 30px;
    border-radius: 0px 0px 10px 10px;
    margin-inline: 7%;
}
.biographs .article-text{
    padding: 5%;
}
.biographs h2{
    text-align: center;
    font-weight: 300;
    font-size: 35px;
}
.biographs .article-text p{
    font-size: 15px;

}
.biographs .article-text h3{
font-size: 18px;
font-weight: 300;
}
.biographs article span{
    color: var(--Grayish-Blue);
    font-weight: 300;
    font-size: 13px;
}
.secondary{
    color: white;
    background-color: var(--Dark-Blue);
    text-align: center;
}
.socials{
    padding-block:0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.socials i{
    padding-inline: 7px;
    
}


.adverts img{
    padding-block: 40px;
}
.secondary .link-list li{
    padding-block:0.4rem;
    font-weight: 300;
    color: var(--Grayish-Blue);
}
.secondary .link-list {
    
}
.footer-foot{
    padding-block: 3rem;
}
.footer-foot p{
    padding-top: 2rem;
}
.inline .footer-foot> a{
    margin-top: 200px;
    border-radius: 20px;
    padding-inline: 45px;
    padding-block: 15px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: var(--Light-Grayish-Blue);
 
} 
.secondary > p{
    padding-block-start: 50px;
}
@media(min-width: 745px){
.artic-link{
    text-align: left;
    margin-inline: 0px;
    max-width: 100%;
}
main .intro.container{
    display: flex;
    padding-block-end: 0px;
    margin-inline-end: 0px;

    background: none;
}
 main .parent{

    
    
}

.intro{
    background-image: none;
    display: flex;
    
    
    
}
main .intro .head-image{
    order: 1;
   width: 50%;
    padding-inline-end: 0px;
    background-image: url(images/bg-intro-desktop.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top -128px right -80px ; 
     

}
main .intro-image{
    align-self: flex-end;
    background-image: none;
    margin-top: -4rem;
    margin-right: -17rem;
    margin-block-end: -8rem;
    height:610px;
    width: 550px;
    

  
}
.section , main{
    overflow: hidden;
}
.intro-desktop{
    width: 50%;
text-align: left;
padding-block: 4rem;
padding-inline-end: rem;

}
.intro-desktop h1{
    font-size: 4rem;
}

nav .navbar-nav a{
    padding-block: 2rem;
    padding-inline: 1.5rem;

}


/* reseting container margin */

.artic-link .container ,.bio ,.inline{
    margin-inline: 7%; 
    width: 90%;
    
}
.intro{
    margin-left: 7%;

}
/* reseting container margin */


.artic-link .cards{
    display: flex;
    gap: 20px;
    padding-top: 40px;
    
}
.graph{
    display: flex;
    gap: 15px;
    text-align: left;
}
.biographs{
    padding-block-start: 4rem;
}
.biographs article{
    margin-block-end: 0px;
    margin-inline: unset;
}
.biographs img{
    border-radius: 10px;
}
.bio{
padding-block-end: 6rem;
}
.bio h3:hover{
    color: var(--Lime-Green);
    cursor: pointer;
}
.bio h2{
    text-align: left;
}
.secondary{
    display: flex;
    margin-inline: 0px;
    padding-block-end: 0px;

    
}
.secondary .link-list li{
    padding-block:0.3rem;
    
}
.secondary .link-list li a:hover{
color: var(--Lime-Green);
}
.secondary .link-list :first-child{
    padding-block-start: 0rem;
}
.inline{
    display: flex;
    padding-inline: 0px;
    justify-content: space-between;
    

}
.two-links{
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-align: left;
}

footer nav{
    display: flex;
    width: 55%;
    padding-block: 3rem;   
}
.container > p{
    max-width: 38rem;
}
.footer-foot p{
    padding-block-start: 3rem;
}

article h3{
    font-weight: 400;
    font-size: 1.5rem;
}
.adverts{
    text-align: left;
}
.adverts img{
    padding-block: 0px;
    padding-block-end: 2.5rem;
    
}
.socials{
    padding-block: 0px;
    margin: 0px;
}
.footer-foot{
    text-align: right;
}
.navbar-collapse{
    background-color: white;
    width: fit-content;
    flex-grow: 0;
    position: unset;
    margin: 0px;
    margin-inline: 1rem;
    margin-left: 0px;
    padding-block: 0rem;
    border-radius: 0px;
}
.nav-link.greeny{
    display: inline;
    border-radius: 20px;
    padding-inline: 45px;
    padding-block: 0.8rem;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: var(--Light-Grayish-Blue);
 
}
.nav-link.greeny:hover{
    background: linear-gradient(to right,hsl(136, 56%, 70%),hsl(192, 60%, 76%)); 
}
.navbar .container{
    justify-content: space-between;
}
.navbar .container{
    background-color: white;
     
 }
 main a:hover , .inline .footer-foot> a:hover{
    background: linear-gradient(to right,hsl(136, 56%, 70%),hsl(192, 60%, 76%)); 

 }


.navbar-nav .nav-link{
    padding-block: 1rem;
} 
.navbar-nav a:hover {
    border-bottom: solid var(--Lime-Green);

}
ul.socials li:hover{
    color: var(--Lime-Green);
}
ul.navbar-nav li {
    padding-inline: 0.3rem;
 }
 }
 
 
 @media(max-width: 993px){
    .nav-link.greeny{
        display: none;
        
 }
 
 }
 




